
.header{
    background: red;
    display: flex;
    padding:  2rem 3rem;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    font-size: 1.8rem;

}

.logout{
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.logout:hover{
    color:red;
    background: white;
}